* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.brand {
  height: 100vh;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: white;
  padding: 0 5.5rem;
  align-items: center;
}
h2 {
  font-size: 2.5rem;
}
.cover {
    overflow-x: hidden;
}
.line-brand {
  width: 15%;
  height: 4px;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.line-form {
  width: 10%;
  height: 4px;
  background-color: #000;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  background-color: rgb(49, 49, 49);
}
.login-form {
  height: 100vh;
  background-color: #fff;
  align-items: center;
  padding: 0 5rem;
  text-align: center;
  color: rgb(49, 49, 49);
}
.btn {
  padding: 5px 30px;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: white;
  border-radius: 20px;
  margin-top: 2.5rem;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(49, 49, 49);
}
input[type="text"]:active,
input[type="password"]:active {
  width: 100%;
  padding: 12px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(32, 32, 32);
}
form {
    margin: 0 5%;
}