body{
    background:-webkit-linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    background: -moz-linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    background: linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
}


h2{
    text-align: center;
}

.navbar{
    text-align: right;
}

.img-user{
    border-radius: 50px;
    padding: 5px;
    width: 45px;
}


