* {
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-y: scroll;
    background: #56ccf2;
    background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
    background: linear-gradient(to right, #2f80ed, #56ccf2);
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.navbar {
    background-color: #fff;
}
.navbar-brand {
    font-weight: 600;
}
.nav-link {
    font-weight: 500;
}
.nav-link,
.navbar-brand {
  color: #fff;
}

.navbar button {
    color: #fff;
}

.main-content {
  padding-top: 2rem;
  
}

.main-content h3 {
    color: #fff;

}

.card {
    border-radius: 12px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    top: 1cm;
}

.agreement {
    height:8cm;
    width:11cm;
    overflow:auto;
    text-align: left;
}

div.a{
    text-align: center;
}


