.navbar {
  background-color: #fff;
}
a.navbar-brand {
  font-weight: 600;
  color: rgb(66, 66, 66);
}
.nav-link {
  font-weight: 500;
}
.nav-link,
.navbar-brand {
  color: #fff;
}
.nav-item {
  padding: 3px 2px;
}
.navbar button {
  color: #fff;
}
.navbar-toggler {
  border: none;
}
.nav-outline::after {
  position: relative;
  top: 10px;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #2f80ed;
  transition: width 0.3s;
}
.nav-outline:hover::after {
  width: 100%;
}

.active {
  color: #2f80ed;
}
.active::after {
  position: relative;
  top: 10px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #2f80ed;
}
a.nav-link.nav-outline.active {
  color: #2f80ed;
}
.dropdown-item {
  cursor: pointer;
}
