.main-content {
  height: 100%;
  margin-left: 16%;
  transition: margin-left 200ms;
  background: #eefafd;
  color: rgb(66, 66, 66);
}
.main-dashboard {
  padding-top: 3rem;
}
.main-dashboard h2 {
  font-weight: 600;
}
.card {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  border-radius: 12px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col-6 .card,
.col-lg-4 .card {
  border-radius: 12px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-profile {
  border-radius: 50%;
  width: 4rem;
}
.card-kandidat {
  height: 58vh;
}
.name-kandidat {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}
.no-kandidat {
  margin-bottom: 0;
  font-weight: 500;
  color: gray;
}
.card-count h6 {
  margin: 0;
}
.not-found,
.not-found2 {
  margin: 11vh 0;
  color: grey;
}
.not-found2 {
  padding: 15vh 0;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .main-content {
    margin-left: 75px;
  }
  .main-content:hover {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
  .main-content:hover {
    margin-left: 0;
  }
  .navbar-toggler {
    display: inline-block;
  }
}
