.brand {
  height: 100vh;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: white;
  padding: 0 7rem;
  align-items: center;
}
h2 {
  font-size: 2.5rem;
}
.cover {
  overflow-x: hidden;
}
.line-brand {
  width: 15%;
  height: 4px;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.line-form {
  width: 10%;
  height: 4px;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  background-color: #666;
}
.login-form {
  height: 100vh;
  background-color: #fff;
  align-items: center;
  padding: 0 5rem;
  text-align: center;
  color: #666;
}
.btn {
  padding: 9px 46px;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: white;
  border-radius: 20px;
  margin-top: 2.5rem;
}
.btn:hover {
  color: white;
  background: #5255eb;
  background: -webkit-linear-gradient(to right, #5255eb, #56ccf2);
  background: linear-gradient(to right, #5255eb, #56ccf2);
}

form {
  margin: 0 5%;
}
.form {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.form input {
  width: 100%;
  height: 100%;
  color: #666;
  padding-top: 16px;
  padding-bottom: 10px;
  border: none;
  outline: none;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #666;
}
.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2f80ed;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 14px;
  color: #2f80ed;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}
