.head-content {
  padding-top: 3rem;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  color: #fff;
}
.body-content {
  background: #eefafd;
  color: rgb(66, 66, 66);
}
.counting {
  margin-top: 10vh;
  padding-bottom: 3vh;
}
.card {
  border-radius: 12px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card-groups {
  margin-top: 3rem;
}
.card-profile {
  border-radius: 50%;
  width: 4rem;
}
p.mb-0 {
  color: gray;
}
.name-kandidat {
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}
.no-kandidat {
  margin-bottom: 0;
  font-weight: 500;
  color: gray;
}
.card-count h6 {
  margin: 0;
}

input[type="text"].search {
  width: 100%;
  padding: 9px 16px;
  outline-color: #2f80ed;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.not-found {
  color: grey;
  padding: 25vh 0;
}

